@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=JetBrains+Mono:wght@100;200;300;400;500;600;700;800&family=Nunito+Sans:opsz,wght@6..12,200;6..12,300;6..12,400;6..12,500;6..12,600;6..12,700;6..12,800&family=Open+Sans:wght@300;400;500;600;700;800&family=Oswald:wght@300&family=Poppins:wght@100;200;300;400;500;600;700&family=Roboto:wght@300&display=swap');

*,
*::before,
*::after{
  /* size */
  box-sizing: border-box;

  /* spacing */
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 0;

  /* design */
  font-family: 'Open Sans', sans-serif;
  font-weight: 200;
  color: white;
}

html{
  /* design */
  line-height: 1.5;
  /* border: 1px solid purple; */

  /* behavior */
  scroll-behavior: smooth;
}

html::-webkit-scrollbar{
  width: 0.25rem;
  background-color: rgba(0, 0, 0, 0.068);
}

html::-webkit-scrollbar-thumb{
  background-color: rgb(0, 0, 0);
}

body{
  /* design */
  /* inherit line height of parent which is html */
  line-height: inherit;
  /* border: 1px solid red; */
}

div#root{
  width: 100%;
}

h1{
  /* design */
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
}

button{
  /* display */
  display: block;
  
  /* design */
  outline: 1px solid rgba(255, 255, 255, 0.295);
  background-color: transparent;
  font-size: clamp(12px, 1vw, 1rem);
  border: none;
  color: rgba(255, 255, 255, 0.5);
  text-align: center;
  cursor: pointer;

  /* size */
  padding-inline: 1em;
  padding-block: 0.5em;

  /* transition */
  transition: 
    background-color 0.25s ease-in-out,
    color 0.25s ease-in-out; 
}

button:hover{
  /* design */
  background-color: rgba(255, 255, 255, 0.295);
  color: white;
}